<div class="container text-center">
	<p> Field marked with a star <i>(*)</i> are mandatory </p>
	<form action="/register" method="post">
		<div class="input-group">
			<span class="input-group-addon">Nickname*</span>
			<input name="Nick" type="text" class="form-control" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">Password*</span>
			<input name="Passwd" type="password" class="form-control" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">Email*</span>
			<input name="Email" type="text" class="form-control" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">Type</span>
			<div class="radio">
				<label>
					<input type="radio" name="Type" value="0" checked>
					Single
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="Type" value="1">
					Association
				</label>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Website</span>
			<input name="Website" type="text" class="form-control" />
		</div>
		<div class="input-group">
			<span class="input-group-addon">Fullname</span>
			<input name="Fullname" type="text" class="form-control" />
		</div>
		<input class="btn btn-success btn-lg" type="submit" value="Register" />
	</form>
</div>
